	
	.header-body {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 16px 88px;
	
	.logo-link {
		width: 113px;

		> span {
			font-size: 20px;
			line-height: 24px;
		}
	}
	.burger {
	}

	.menu-column {
		> .header-menu {
			margin-right: 46px;
	
				> .menu-list > .item {
					margin: 0px 20px;	
					
					> .menu-link {
						padding: 5px 0;
						line-height: 17px;
					}			
				}
		}
	
		.search {
			width: 219px;
			border: 1px solid #E4E5EC;;		
			border-radius: 100px;
			padding: 4px 4px  4px 16px;
			background-color: $whiteColor;
			
			> .input {
				font-family: $secondFontFamily;
				color: #ACB1C6;
				outline: none;
			}
	
			> .sesrch-btn {
				width: 28px;
				height: 28px;
				border-radius: 100px;
				background: linear-gradient(267.28deg, #7B61FF 24%, #AA82FF 73.95%);
				cursor: pointer;
				position: relative;
				
				&::after {
					content: "";
					position: absolute;
					background-image: url(../../img/lupa.svg);
					background-repeat: no-repeat;
					background-size: cover;
					width: 18px;
					height: 18px;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}