@use 'sass:math';

$defaultFontFamily: Gotham;
$secondFontFamily: OpenSans;
$defaultFontSize: 14; // размер шрифта по шаблону
$h1FontSize: 48px; // размер шрифта по шаблону
$maxWidthContainer: 1470; // ширина контейнера по шаблону для десктопа

// Colors
$whiteColor: #fff;

$backgroundColor: #DEE1FF;
$neutralColor: #FFFFFF;
$greyColor: #777B9E;
$primaryColor: #596AFE;
$secondaryColor: #080357;;
$accentColor: #F68E5F;

$defaultFontColor: $whiteColor;

$linkColor: $whiteColor;
$bgColor: $whiteColor;

// Container sizes
$maxWidth: 1920;
$containerWidth: $maxWidthContainer;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);
$mobileContainerSidePadding: math.div($containerPadding, 4);